In [5]:
import pandas as pd

In [6]:
station = pd.read_csv('../Data/서대문구_대여소_위치정보.csv')
position = pd.read_csv('../Data/고도.csv')

In [7]:
station.head()

   대여소_ID                   주소1         위도          경도
0  ST-555    서울특별시 서대문구 거북골로 34  37.581097  126.924026
1   ST-43  서울특별시 서대문구 창천동 84-16  37.559864  126.934418
2   ST-42     서울특별시 서대문구 연세로 50  37.562382  126.932648
3   ST-41   서울특별시 서대문구 연세로 50-1  37.560009  126.940735
4   ST-40    서울특별시 서대문구 증가로 264  37.559177  126.934525

In [8]:
position.head()

   대여소_ID      고도(m)
0  ST-555  29.449535
1   ST-43  26.047941
2   ST-42  32.998287
3   ST-41  25.396618
4   ST-40  22.443741

In [9]:
station = pd.merge(station,position, on='대여소_ID',how='left')

In [10]:
base_list = [
    'ST-1491', 'ST-2208', 'ST-2216', 'ST-222', 'ST-227', 'ST-2897', 'ST-30',
    'ST-3062', 'ST-3140','ST-1190', 'ST-2205', 'ST-2206', 'ST-2210', 'ST-231', 'ST-347',
    'ST-2213', 'ST-3051', 'ST-3113', 'ST-3139','ST-2204', 'ST-223', 'ST-349', 'ST-350',
    'ST-232', 'ST-25', 'ST-555','ST-33', 'ST-35','ST-17'
]

In [11]:
station[station['대여소_ID'].isin(base_list)].head()

    대여소_ID                    주소1         위도          경도      고도(m)
0   ST-555     서울특별시 서대문구 거북골로 34  37.581097  126.924026  29.449535
11  ST-350     서울특별시 서대문구 불광천길 36  37.577316  126.902969   9.473830
12   ST-35    서울특별시 서대문구 불광천길 150  37.582031  126.908997  11.436312
13  ST-349  서울특별시 서대문구 북가좌동 352-9  37.579876  126.906349   7.007851
15  ST-347      서울특별시 서대문구 응암로 66  37.578892  126.910736  14.477630

In [14]:
station[station['대여소_ID'].isin(base_list)].to_csv('../Data/서대문구_대여소_정보.csv',index=False)